.home{
    background-color: lightblue;
    text-align: center;
    height: 100vh;
    width: 100%;
    border: 2px solid black;
}
.contact{
    background-color: lightgreen;
    text-align: center;
    height: 100vh;
    width: 100%;
    border: 2px solid black;
}
header nav{
    background-color: gray;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}