.container{
    background-color: lightcoral;
    width: 600px;
    height: 600px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center;  */
    /* centers horizontally and vertically */

}
.box{
    background-color: forestgreen;
    width: 200px;
    height: 200px;
    margin: 80px 80px; /* top/bottom right/left */
}